<div class="row mb-2">
    <div *ngFor="let item of characters" class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">{{item.status}}</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">{{item.name}}</a>
                    </h3>
                    <div class="mb-1 text-muted">{{item.created | date:'longDate'}}</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <a href="#">More details</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                    alt="Thumbnail [200x250]" style="width: 200px; height: 250px;"
                    [src]="item.image"
                    data-holder-rendered="true">
            </div>
    </div>
</div>